*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    height:100vh;
    width:100vw;
    background:#0C0C2A;
    color:#FFF;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* Main */

.container{
    padding:10px 10%;
}

#home{
    height:100vh;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-flow: row wrap;
    padding:10px 10%;
}

.logo{
    width:140px;
}

nav ul li{
    list-style:none;
    display:inline-block;
    margin:15px 20px;
}

nav ul li a{
    outline:none;
    text-decoration:none;
    color:#FFF;
    font-size:18px;
}

nav ul li a i{
    margin-right: 10px;
    color:#03C04A;
}

nav ul li a::after{
    content:'';
    display:block;
    width:0;
    height:2px;
    margin-left: 40%;
    background:#52ff50;
    border-radius: 5px;
    transition:width .3s;
}

nav ul li a:hover::after{
    width:60%;
}

.head-text{
    margin-top: 20%;
    font-size: 20px;
    width:450px;
}

.head-text p{
    font-size: 20px;
}

.head-text h1{
    font-size:50px;
    margin-top:20px;
}

.head-text h1 span{
    color:#52ff50; 
}

.head-btn{
    display: flex;
    margin-top: 20px;
}

.head-btn a i, .head-btn a img{
    margin-right: 20px;
    color:#FFF;
    font-size: 45px;
    box-shadow:0 0 10px#03C04A;
    border-radius: 50%;
    transition:transform .5s;
}

.head-btn a i:hover, .head-btn a img:hover{
    transform:translateY(-5px);
}

/* ------- About -------- */

#about{
    color:#ababab;
    padding: 100px 0;
}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_col_1{
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 35%;
    translate: 0 -100px;
}

.about_col_1 img{
    width: 70%;
}

.about_col_1 [fade]{
    height: 100px;
    translate: 0 -100%;
    background: linear-gradient(#0000, #0C0C2A);
}

.about_col_2{
    flex-basis:60%;   
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color:#FFF;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    position: relative;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.tab-links i{
    color:#03C04A;
    margin-right: 10px;
}

.tab-links::after{
    content:'';
    position: absolute;
    width:0;
    left: 0;
    bottom:-8px;
    border-radius: 5px;
    height:3px;
    background:#52ff50;
    transition:.5s;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style:none;
    margin: 10px 0;
}

.tab-contents ul li span{
    font-size: 14px;
    color:#03C04A;
}

/* ----Contact------ */

.contact-left{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 20px;
}

.contact-left p i{
    width: 20px;
    font-size: 20px;
    color:#03C04A;
    margin-right: 25px;
}

.contact-right{
    flex-basis: 60%;
}

.social{
    margin-top: 30px;
}

.social a{
    display: inline-block;
    text-decoration: none;
}
.social a[button] i{
    color:#FFF;
    font-size: 30px;
    width: 30px;
    margin-right: 20px;
    transition:transform .5s, color .3s;
}

.social a[button] i:hover{
    color:#03C04A;
    transform:translateY(-5px);
}

.btn{
    display: inline-block;
    background: #03C04A;
    color: #FFF;
    font-size: 16px;
    border:none;
    outline: none;
    text-decoration: none;
    cursor:pointer;
    padding:14px 40px;
    margin: 15px 0 20px 0;
    border-radius: 5px;
}

button[type='submit'] > i{
    margin-left: 10px;
    font-size: 15px;
    color:#FFF;
    transition:transform .5s;
}

button[type='submit']:hover > i{
    transform:translateX(5px);
}

.download{
    background:#0000;
    border:solid+1px #03C04A;
    color:#03C04A;
    transition:background .3s, color .3s;
}
.download:hover{
    background:#03C04A;
    color:#FFF;
}

.contact-left > .btn{
    margin-top: 30px;
}

.contact-left a i{
    font-size: 20px;
    margin-left: 10px;
}

.contact-right form{
    width:100%;
}

form input, form textarea{
    display: inline-block;
    width:100%;
    border:0;
    outline: none;
    background:#262626;
    padding: 15px;
    margin: 15px 0;
    color:#FFF;
    font-size: 12px;
    resize: none;
    border-radius: 5px;
}

form input::placeholder, form textarea::placeholder{
    color:#ababab;
}

.footer{
    display: inline-block;
    width:100%;
    background:#262626;
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
    bottom:0;
}

#confirmation{
    display:inline-block;
    color:#61B752;
    margin-top: -10px;
}