*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#0C0C2A;
}

/* Navigation Bar */
.navBar{
    height: 50px;
    width: 100%;
    padding-right: 80px;
    padding-left: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar div a{
    margin: 15px;
    color: #FFF;
    text-decoration: none;
}